{% extends 'global/base.html' %}

{% block title %}
  {{recipe_title}} |
{% endblock title %}

{% block content %}
  <div class="main-content center container">
    {% include 'global/partials/messages.html' %}
      <!-- Script for the close Button of flash message --> 
      <script>
        function closeMessage(button) {
          var messageDiv = button.parentElement.parentElement;
          messageDiv.style.display = "none";
        }
      </script>

    <h2>Dashboard ({{ user }})</h2>
    <br><br>{% include 'authors/partials/login_message.html' %}<br><br>
    <form class="main-form" 
    {% if create_recipe_form_action %}
      action="{% url 'authors:treat_create_recipe' %}" 
    {% else %}
      action="."
    {% endif %}
    method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="left">
        <div class="form-content form-content-grid">
          <div class="form-group {{ field.field.widget.attrs.class }}">
            {{form}}<br><br>
            <button type="submit">Send</button>  
          </div>
          {% if field.name == 'cover' and field.value.url %}
            <div class="span-2">
              <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
            </div>
          {% endif %}
          {{ field.errors }}
        </div>
      </div>
    </form>
  </div>
{% endblock content %}