{% extends 'global/base.html' %}

{% block title %}
  {{recipe_title}} |
{% endblock title %}

{% block content %}
  <div class="main-content center container">
    {% include 'global/partials/messages.html' %}
      <!-- Script for the close Button of flash message --> 
      <script>
        function closeMessage(button) {
          var messageDiv = button.parentElement.parentElement;
          messageDiv.style.display = "none";
        }
      </script>

    <h2>Dashboard ({{ user }})</h2>
    <br><br>{% include 'authors/partials/login_message.html' %}<br><br>
    <form action="{% url "authors:treat_create_recipe" %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="main-content main-content-list container">
        <div class="form-content form-content-grid">
          <div class="form-group">
            {{form}}<br><br>
            <button type="submit">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}