{% extends 'global/base.html' %}
{% block title %} {{title}} {% endblock  %}
{% block content %}

<div class="main-content center container">
  <!-- Script for the close Button of flash message --> 
  <script>
    function closeMessage(button) {
      var messageDiv = button.parentElement.parentElement;
      messageDiv.style.display = "none";
    }
  </script>
  
  <center><h2>Login</h2></center><br><br>
  
  {% include 'authors/partials/login_message.html' %}
  {% include 'global/partials/messages.html' %}

  <form action="{% url 'authors:treat-login' %}" method="POST">
    {% csrf_token %}
    <div class="form-content form-content-grid">
      <div class="form-group">
        {{form}}
      </div>
    </div>
    <div class="form-content form-content-grid">
      <div class="form-group">
        <button type="submit">Send</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}