{% include '../partials/head.html' %}

<body>
    {% include '../partials/header.html' %}
    {% include '../partials/search-bar.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://placehold.jp/1280x720.png" alt="Temp">
                </div>
                <h1>Sexo</h1>
            </div>
        </div>
    </main>
</body>

</html>