{% extends 'global/base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
    {% include 'global/partials/messages.html' %}
    <!-- Script for the close Button of flash message --> 
    <script>
        function closeMessage(button) {
        var messageDiv = button.parentElement.parentElement;
        messageDiv.style.display = "none";
        }
    </script>

    <div class="main-content main-content-list container">
        {% for recipe in recipes %}
            {% include '../partials/recipe-cards.html' %}
        {% endfor %}
    </div>
{% endblock content %}